*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand img{
 max-height:50px;
 margin-top:-10px;
}
.navbar{
    margin-top:30px;
    transition:200ms;
}
.topu{
    background-color:#fff;
    margin-top:0;
    padding:20px 0;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

}
header{
    height:600px;
    width:100%;
    background-image:url('images/homepage_hero_2h.png');
    background-size: cover;
    background-position:top bottom ;
    background-repeat: no-repeat;
    position: relative;
}
.nav li:hover a{
    background-color:transparent;
}
.nav li a{
    font-weight: bold;
    transition:500ms;
}

.navbar li:hover a{
    border-bottom:1px solid #385DE0;
    padding-bottom:10px !important;
}
.writeup{
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-20%,-50%);
    
}
.writeup h2{
    font-family: 'merienda';
    font-size:50px;
    color:#385DE0;
}
.writeup h2 span{
    font-family:'Allan';
    
}
.writeup p{
    margin-top:40px;
    color:#4D3F5A;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 1px;
}
.bg1{
    background-image:url('images/cta_partner_bkg-1.png');
    background-position: center;
    background-size:cover;
    width:100%;
    padding:20px 30px;
    padding-left:50px;
    color:#fff;
    min-height:180px;
}

.bg2{
    background-image:url('images/cta_developer_bkg-1.png');
    background-position: center;
    background-size:cover;
    width:100%;
    padding:20px 30px;
    padding-left:50px;
    color:#fff;
    min-height:180px;
}
.bg3{
    background-image:url('images/cta_career_bkg-1.png');
    background-position: center;
    background-size:cover;
    width:100%;
    padding:20px 30px;
    padding-left:50px;
    color:#fff; 
    min-height:180px; 
}
.md4{
    width:33.3333333%;
    float:left; 
}
.wrap::after {
        content: "";
        clear: both;
        display: block;
    
}
.md4 h4{
    font-weight: 700;
}
.md4 p{
    font-size:18px;
}
.trust{
    padding:30px 0;
    background-color:#E4EBF1;
    width:100%;
}
.trust h4{
    
    text-align: center;
    font-weight: 400;
}
.trust ul{
    list-style:none;
}
.trust li{
    display:inline-block;
}
.video img{
    margin-bottom:20px; 
    width:100%;
}
.video{
    padding:40px 0; 
}

.video h4{
    margin-bottom:35px;
    color:#385DE0; 
}
.video p{
    font-size:1.125em;
    margin-bottom:35px; 
}
.video p span{
    color:#385DE0;
}
.video h3{
    margin-bottom:20px; 
}
.chan{
    background-color:#385DE0;
    padding:10px 16px;
    color:#fff;
    font-weight: 700;
    border:none;
}
.bak{
    background-color:#E4EBF1;
    padding:40px 0;
    text-align: center
}
ul{
    list-style: none;
}
.bak  li{
    display:inline-block;
}
.bak h4{
margin-bottom:20px;
}
.build{
    background-image:url('images/120216Stellar8-shade-cropped.jpg');
    width:100%;
    padding:40px;
    min-height: 270px;
    background-position:top center;
    background-size:cover;
    text-align: center;
}
.build h2{
    color:#fff;
}
.build h2 span{
    color:#385DE0;
}
.get{
    padding:13px 23px;
    color:#000;
    background-color:#FFAF30;
    border:none;
    margin-top:60px;
    font-weight: 600;
}